<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" /> <!-- API30이상에서는 queries사용해서 권한부여를 한번 더 해야함. -->
    <queries>

        <!-- WebView -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
        <!-- Youtube -->
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".myinfo.MyinfoUpdateActivity"
            android:exported="true" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="mohdfmnbxf" />

        <activity
            android:name=".notice.NoticeInsertActivity"
            android:exported="true" />
        <activity
            android:name=".notice.NoticeModifyActivity"
            android:exported="true" />
        <activity
            android:name=".board.BoardInsertActivity"
            android:exported="true" />
        <activity
            android:name=".board.BoardDetailActivity"
            android:exported="true" />
        <activity
            android:name=".board.BoardModifyActivity"
            android:exported="true" />
        <activity
            android:name=".lecture.Lecture_Tea_DetailActivity"
            android:exported="true" />
        <activity
            android:name=".lecture.LectureModifyActivity"
            android:exported="true" />
        <activity
            android:name=".equipment.EqInsertActivity"
            android:exported="true" />
        <activity
            android:name=".equipment.EqModifyActivity"
            android:exported="true" />
        <activity
            android:name=".notice.NoticeDetailActivity"
            android:exported="true" />
        <activity
            android:name=".timetable.TimeTableDetailActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".member.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>